@model IEnumerable<ibook.Models.Escritores>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listagem   De Escritores </h1>

<p>
    <a class="btn btn-primary btn-icon-split" asp-action="Create">
        <span class="icon text-white">
            <i class="fas fa-plus-circle"></i>
        </span>
        <span class="text text-white">Adicionar</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt text-primary"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search text-primary"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt text-primary"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
